<% if flash[:notices] %>
  <% flash[:notices].each do |message| %>
    <div class="flash"><%= message %></div>
  <% end %>
<% end %>

<h1> Forgot your password?  We've Got you covered. </h1>

<form id="password_reset_form" action="<%= password_reset_url %>" method="post">
  <label for="password_reset_email">Email</label>
  <input type="text" id="password_reset_email" name="password_reset[email]" />

  <input type="submit" value="Reset Password" />
</form>