<div class="welcome-form six columns">
  <h1 id='sign-in-header'> Sign In </h1>

  <form class="form" id="sign-up-form" action="<%= session_url %>" method="post">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>" />

    <label for="user_name" class="signup">Name</label>
    <input type="text" class="signup" id="user_name" name="user[name]" autocomplete="off" />

    <label for="user_email" class="signup">Email</label>
    <input type="text" id="user_email" class="signup" name="user[email]" autocomplete="off" />

    <label for="user_username">Username</label>
    <input type="text" id="user_username" name="user[username]" autocomplete="off"/>

    <label for="user_password">Password</label>
    <input type="password" id="user_password" name="user[password]" autocomplete="off"/> 

    <label for="user_password_confirmation" class="signup">Confirmation</label>
    <input type="password" class="signup" id="user_password_confirmation" 
                       name="user[password_confirmation]" /> 

    <div class="buttons">
      <input type="submit" value="submit">
    </div>
  </form>
</div>