<%= current_user.name %>

<div id="film-list">
</div>
<div id="search">
</div>
<div id="results">
</div>

<script type="application/json" id="current_user_bs">
  <%= render('root/launch.json.rabl', :locals => { :current_user => @current_user }).html_safe %>
</script>