<%= current_user.name %>

<div id="film-new">
</div>

<div id="film-list">
</div>

<div id="search">
</div>

<ul id="results">
</ul>

<div id="film-show">
</div>

<div id="user-show">
</div>

<script type="application/json" id="user_bs">
  <%= render('root/launch.json.rabl', 
             :locals => { :users => @users }).html_safe %>
</script>

<script id='current_user_id'>
  <%= current_user.id %>
</script>
