<%= current_user.name %>

<div id="film-new">
</div>

<div id="film-list">
</div>

<div id="followings">
</div>

<div id="search-container">
  <div id="search">
  </div>

  <div id="wait">
  </div>
</div>

<div id="results">
</div>

<div id="film-show">
</div>

<div id="user-show">
</div>

<div id="user-edit">
</div>

<script type="text/json" id="users_bootstrap">
  <%= render('root/launch.json.rabl', :locals => { :users => @users }) %>
</script>

<script type="text" id="current_user_id_bootstrap">
  <%= current_user.id %>
</script>
