<div class='welcome-background'>




<div class="welcome-container container">
  <h1 class='title fatface center'>Twenty Films</h1>
  <div class="sign-in-container container">
   <%= render :partial => 'root/user_form' %>
  </div>
  </div>
</div>

<script type="text/javascript">
$('.signup').hide();
  $(function() {
    $('#button').on('click', function () {
      if ($('#button').attr('class') == 'sign-in') {
        $('h1').html('Sign Up')
        $('.signup').fadeIn('slow');
        $('.form').attr('action', '<%= users_url %>');
        $('#button').html('log in');
        $('#button').removeClass();
        $('#button').addClass('new-user');
      } else {
        $('h1').html('Sign In')
        $('.signup').fadeOut('slow');
        $('.form').attr('action', '<%= session_url %>');
        $('#button').html('create new account');
        $('#button').removeClass();
        $('#button').addClass('sign-in'); 
      }
    });
  });
</script>