/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.result:hover {
  background-color: lightBlue
}

.delete {
  color: red;
  cursor: pointer;
}

.save {
  color: green;
  cursor: pointer;
}

#film-new {
  border-left: 3px black solid;
  border-bottom: 3px black solid;
  border-right: 3px black solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 300px;
  width: 500px;
  position: fixed;
  left: 15%;
  top: 0px;
  padding: 10px;
  background-color: lightGrey;
  z-index: 1;
}

#film-show {
  border: 3px black solid;
  height: 100%;
  position:fixed;
  width: 50%;
  top: 0px;
  right:-51%;
  z-index: 1;
  background-color: lightGrey;
}
